<a href="https://colab.research.google.com/github/Pensive1881/DSR44_2025/blob/main/SQL_to_Python_solutions2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2025.8.3)

In [ ]:
import pandas as pd
import sqlite3
import requests

# URL of the SQLite database file
db_url = 'https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite'
db_file = 'Chinook_Sqlite.sqlite'

# Download the database file
response = requests.get(db_url)
with open(db_file, 'wb') as f:
    f.write(response.content)

# Connect to the SQLite database
conn = sqlite3.connect(db_file)

# List all tables
tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(tables_query, conn)

# Display the list of tables
print("Available tables:")
print(tables)

# Close the connection
# conn.close()

Available tables:
             name
0           Album
1          Artist
2        Customer
3        Employee
4           Genre
5         Invoice
6     InvoiceLine
7       MediaType
8        Playlist
9   PlaylistTrack
10          Track

DOCUMENTATION
https://github.com/lerocha/chinook-database

Questions!
1. List all albums by a specific artist.
2. Count the number of albums for each artist.
3. List all tracks in a specific album.
4. Find the total sales per customer.
5. Find the customer who has spent the most money.
6. Find the best-selling track.
7. Find the most popular genre based on the number of tracks
8. Calculate the total revenue generated by each track.
9. List the employees who are also sales agents.
10. Find the total number of sales by each sales agent.

Advanced!
1. Finding the Top 5 Customers with the Highest Number of Different Tracks Purchased
Objective: Determine the top 5 customers who have purchased the highest number of different tracks, along with the number of distinct tracks they have purchased.

2. Identifying the Most Popular Genre in Each Country Based on Sales

Objective: For each country, identify the most popular genre based on the total sales. The result should include the country, genre, and total sales amount for that genre.

In [ ]:
# # Connect to the SQLite database
# conn = sqlite3.connect(db_file)

# # Query the database and load it into a DataFrame
# query = 'SELECT * FROM Track'
# df = pd.read_sql_query(query, conn)

# # Close the connection
# # conn.close()

# # Display the DataFrame
# df.head()

In [ ]:
from sqlite3 import Error

def execute_query(conn, sql_querry):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(sql_querry)
    except Error as e:
        print(e)

    # print(f"Returned values: {c.fetchall()}")
    return c.fetchall()

In [ ]:
import sqlite3

def extract_extended_schema(db_path):
    # Connect to the database
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # Enable foreign key support
    cursor.execute("PRAGMA foreign_keys = ON;")

    # Get all table names
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()

    schema = {}

    # For each table, get the schema (columns and types)
    for table in tables:
        table_name = table[0]
        # Get table columns
        cursor.execute(f"PRAGMA table_info({table_name});")
        columns = cursor.fetchall()

        # Get foreign keys
        cursor.execute(f"PRAGMA foreign_key_list({table_name});")
        foreign_keys = cursor.fetchall()

        schema[table_name] = {
            "columns": columns,
            "foreign_keys": foreign_keys
        }

    conn.close()
    return schema

# Example: use the path to your SQLite database (replace with the actual path to the Chinook database)
db_path = 'Chinook_Sqlite.sqlite'
schema = extract_extended_schema(db_path)

# Print out the extracted schema
for table, details in schema.items():
    print(f"Table: {table}")
    print("Columns:")
    for column in details["columns"]:
        print(f" - {column[1]} ({column[2]})")

    if details["foreign_keys"]:
        print("Foreign Keys:")
        for fk in details["foreign_keys"]:
            print(f" - From column {fk[3]} to {fk[2]}.{fk[4]}")
    else:
        print("No Foreign Keys")
    print("\n")

Table: Album
Columns:
 - AlbumId (INTEGER)
 - Title (NVARCHAR(160))
 - ArtistId (INTEGER)
Foreign Keys:
 - From column ArtistId to Artist.ArtistId


Table: Artist
Columns:
 - ArtistId (INTEGER)
 - Name (NVARCHAR(120))
No Foreign Keys


Table: Customer
Columns:
 - CustomerId (INTEGER)
 - FirstName (NVARCHAR(40))
 - LastName (NVARCHAR(20))
 - Company (NVARCHAR(80))
 - Address (NVARCHAR(70))
 - City (NVARCHAR(40))
 - State (NVARCHAR(40))
 - Country (NVARCHAR(40))
 - PostalCode (NVARCHAR(10))
 - Phone (NVARCHAR(24))
 - Fax (NVARCHAR(24))
 - Email (NVARCHAR(60))
 - SupportRepId (INTEGER)
Foreign Keys:
 - From column SupportRepId to Employee.EmployeeId


Table: Employee
Columns:
 - EmployeeId (INTEGER)
 - LastName (NVARCHAR(20))
 - FirstName (NVARCHAR(20))
 - Title (NVARCHAR(30))
 - ReportsTo (INTEGER)
 - BirthDate (DATETIME)
 - HireDate (DATETIME)
 - Address (NVARCHAR(70))
 - City (NVARCHAR(40))
 - State (NVARCHAR(40))
 - Country (NVARCHAR(40))
 - PostalCode (NVARCHAR(10))
 - Phone (NVARCHAR(24))
 - Fax (NVARCHAR(24))
 - Email (NVARCHAR(60))
Foreign Keys:
 - From column ReportsTo to Employee.EmployeeId


Table: Genre
Columns:
 - GenreId (INTEGER)
 - Name (NVARCHAR(120))
No Foreign Keys


Table: Invoice
Columns:
 - InvoiceId (INTEGER)
 - CustomerId (INTEGER)
 - InvoiceDate (DATETIME)
 - BillingAddress (NVARCHAR(70))
 - BillingCity (NVARCHAR(40))
 - BillingState (NVARCHAR(40))
 - BillingCountry (NVARCHAR(40))
 - BillingPostalCode (NVARCHAR(10))
 - Total (NUMERIC(10,2))
Foreign Keys:
 - From column CustomerId to Customer.CustomerId


Table: InvoiceLine
Columns:
 - InvoiceLineId (INTEGER)
 - InvoiceId (INTEGER)
 - TrackId (INTEGER)
 - UnitPrice (NUMERIC(10,2))
 - Quantity (INTEGER)
Foreign Keys:
 - From column TrackId to Track.TrackId
 - From column InvoiceId to Invoice.InvoiceId


Table: MediaType
Columns:
 - MediaTypeId (INTEGER)
 - Name (NVARCHAR(120))
No Foreign Keys


Table: Playlist
Columns:
 - PlaylistId (INTEGER)
 - Name (NVARCHAR(120))
No Foreign Keys


Table: PlaylistTrack
Columns:
 - PlaylistId (INTEGER)
 - TrackId (INTEGER)
Foreign Keys:
 - From column TrackId to Track.TrackId
 - From column PlaylistId to Playlist.PlaylistId


Table: Track
Columns:
 - TrackId (INTEGER)
 - Name (NVARCHAR(200))
 - AlbumId (INTEGER)
 - MediaTypeId (INTEGER)
 - GenreId (INTEGER)
 - Composer (NVARCHAR(220))
 - Milliseconds (INTEGER)
 - Bytes (INTEGER)
 - UnitPrice (NUMERIC(10,2))
Foreign Keys:
 - From column MediaTypeId to MediaType.MediaTypeId
 - From column GenreId to Genre.GenreId
 - From column AlbumId to Album.AlbumId

In [ ]:
!pip install graphviz

Requirement already satisfied: graphviz in /usr/local/lib/python3.12/dist-packages (0.21)

In [ ]:
from graphviz import Digraph

def visualize_extended_schema(schema):
    dot = Digraph(comment="Chinook Database Schema")

    # Add nodes for each table with their columns
    for table, details in schema.items():
        label = f"{table}\n"
        for col in details["columns"]:
            label += f"{col[1]} ({col[2]})\n"  # Column name and type
        dot.node(table, label=label, shape="box")

    # Add edges for foreign keys
    for table, details in schema.items():
        for fk in details["foreign_keys"]:
            from_table = table
            to_table = fk[2]  # The table it references
            from_column = fk[3]  # Column in the current table
            to_column = fk[4]  # Column in the referenced table
            dot.edge(from_table, to_table, label=f"{from_column} -> {to_column}")

    return dot

# Visualize the schema with foreign keys
dot = visualize_extended_schema(schema)
dot.render('chinook_database_schema', format='png', cleanup=True)  # Renders as PNG

'chinook_database_schema.png'

1. List all albums by a specific artist.
Replace 'AC/DC' with the desired artist’s name.

In [ ]:
execute_query(conn, """
SELECT Album.Title
FROM Album
JOIN Artist ON Album.ArtistId = Artist.ArtistId
WHERE Artist.Name = 'AC/DC';
""")

[('For Those About To Rock We Salute You',), ('Let There Be Rock',)]

2. Count the number of albums for each artist.

In [ ]:
execute_query(conn, """
SELECT Artist.Name, COUNT(Album.AlbumId) AS AlbumCount
FROM Album
JOIN Artist ON Album.ArtistId = Artist.ArtistId
GROUP BY Artist.Name;
""")

[('AC/DC', 2),
 ('Aaron Copland & London Symphony Orchestra', 1),
 ('Aaron Goldberg', 1),
 ('Academy of St. Martin in the Fields & Sir Neville Marriner', 1),
 ('Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner',
  1),
 ('Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair',
  1),
 ('Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart',
  1),
 ('Accept', 2),
 ('Adrian Leaper & Doreen de Feis', 1),
 ('Aerosmith', 1),
 ('Aisha Duo', 1),
 ('Alanis Morissette', 1),
 ('Alberto Turco & Nova Schola Gregoriana', 1),
 ('Alice In Chains', 1),
 ('Amy Winehouse', 2),
 ('Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker', 1),
 ('Antal Doráti & London Symphony Orchestra', 1),
 ('Antônio Carlos Jobim', 2),
 ('Apocalyptica', 1),
 ('Aquaman', 1),
 ('Audioslave', 3),
 ('BackBeat', 1),
 ('Barry Wordsworth & BBC Concert Orchestra', 1),
 ('Battlestar Galactica', 2),
 ('Battlestar Galactica (Classic)', 1),
 ('Berliner Philharmoniker & Hans Rosbaud', 1),
 ('Berliner Philharmoniker & Herbert Von Karajan', 3),
 ('Berliner Philharmoniker, Claudio Abbado & Sabine Meyer', 1),
 ('Billy Cobham', 1),
 ('Black Label Society', 2),
 ('Black Sabbath', 2),
 ('Body Count', 1),
 ('Boston Symphony Orchestra & Seiji Ozawa', 1),
 ('Britten Sinfonia, Ivor Bolton & Lesley Garrett', 1),
 ('Bruce Dickinson', 1),
 ('Buddy Guy', 1),
 ('C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu',
  1),
 ('Caetano Veloso', 2),
 ('Cake', 1),
 ('Calexico', 1),
 ("Charles Dutoit & L'Orchestre Symphonique de Montréal", 1),
 ('Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti', 1),
 ('Chicago Symphony Orchestra & Fritz Reiner', 1),
 ('Chico Buarque', 1),
 ('Chico Science & Nação Zumbi', 2),
 ('Choir Of Westminster Abbey & Simon Preston', 1),
 ('Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker',
  1),
 ('Chris Cornell', 1),
 ("Christopher O'Riley", 1),
 ('Cidade Negra', 2),
 ('Cláudio Zoli', 1),
 ('Creedence Clearwater Revival', 2),
 ('Cássia Eller', 2),
 ('David Coverdale', 1),
 ('Deep Purple', 11),
 ('Def Leppard', 1),
 ('Dennis Chambers', 1),
 ('Djavan', 2),
 ('Dread Zeppelin', 1),
 ('Ed Motta', 1),
 ('Edo de Waart & San Francisco Symphony', 1),
 ('Elis Regina', 1),
 ('Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra', 1),
 ('Emerson String Quartet', 1),
 ('English Concert & Trevor Pinnock', 2),
 ('Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir',
  1),
 ('Eric Clapton', 2),
 ('Eugene Ormandy', 3),
 ('Faith No More', 4),
 ('Falamansa', 1),
 ('Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos', 1),
 ('Foo Fighters', 4),
 ('Frank Sinatra', 1),
 ('Frank Zappa & Captain Beefheart', 1),
 ('Fretwork', 1),
 ('Funk Como Le Gusta', 1),
 ('Gene Krupa', 1),
 ('Gerald Moore', 1),
 ('Gilberto Gil', 3),
 ('Godsmack', 1),
 ('Gonzaguinha', 1),
 ('Green Day', 2),
 ("Guns N' Roses", 3),
 ('Gustav Mahler', 1),
 ('Göteborgs Symfoniker & Neeme Järvi', 1),
 ('Habib Koité and Bamada', 1),
 ('Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker', 1),
 ('Heroes', 1),
 ('Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer',
  1),
 ('House Of Pain', 1),
 ('Incognito', 1),
 ('Iron Maiden', 21),
 ('Itzhak Perlman', 1),
 ('JET', 1),
 ('James Brown', 1),
 ('James Levine', 1),
 ('Jamiroquai', 3),
 ('Jimi Hendrix', 1),
 ('Joe Satriani', 1),
 ('Jorge Ben', 1),
 ('Jota Quest', 1),
 ('João Suplicy', 1),
 ('Judas Priest', 1),
 ('Julian Bream', 1),
 ('Karsh Kale', 1),
 ("Kent Nagano and Orchestre de l'Opéra de Lyon", 1),
 ('Kiss', 2),
 ('Led Zeppelin', 14),
 ('Legião Urbana', 2),
 ('Lenny Kravitz', 1),
 ('Leonard Bernstein & New York Philharmonic', 1),
 ('Les Arts Florissants & William Christie', 1),
 ('London Symphony Orchestra & Sir Charles Mackerras', 1),
 ('Lost', 4),
 ('Luciana Souza/Romero Lubambo', 1),
 ('Luciano Pavarotti', 1),
 ('Lulu Santos', 2),
 ('Marcos Valle', 1),
 ('Marillion', 1),
 ('Marisa Monte', 1),
 ('Martin Roscoe', 1),
 ('Marvin Gaye', 1),
 ('Maurizio Pollini', 1),
 ('Mela Tenenbaum, Pro Musica Prague & Richard Kapp', 1),
 ('Men At Work', 1),
 ('Metallica', 10),
 ('Michael Tilson Thomas & San Francisco Symphony', 2),
 ('Michele Campanella', 1),
 ('Miles Davis', 3),
 ('Milton Nascimento', 2),
 ('Motörhead', 1),
 ('Mônica Marianno', 1),
 ('Mötley Crüe', 1),
 ('Nash Ensemble', 1),
 ('Nicolaus Esterhazy Sinfonia', 1),
 ('Nirvana', 2),
 ('O Rappa', 1),
 ('O Terço', 1),
 ('Olodum', 1),
 ('Orchestra of The Age of Enlightenment', 1),
 ('Orchestre Révolutionnaire et Romantique & John Eliot Gardiner', 1),
 ('Os Mutantes', 1),
 ('Os Paralamas Do Sucesso', 3),
 ('Otto Klemperer & Philharmonia Orchestra', 1),
 ('Ozzy Osbourne', 6),
 ('Page & Plant', 1),
 ('Passengers', 1),
 ("Paul D'Ianno", 1),
 ('Pearl Jam', 5),
 ('Philharmonia Orchestra & Sir Neville Marriner', 1),
 ('Philip Glass Ensemble', 1),
 ('Pink Floyd', 1),
 ('Planet Hemp', 1),
 ('Queen', 3),
 ('R.E.M.', 3),
 ('R.E.M. Feat. Kate Pearson', 1),
 ('Raimundos', 1),
 ('Raul Seixas', 1),
 ('Red Hot Chili Peppers', 3),
 ('Richard Marlow & The Choir of Trinity College, Cambridge', 1),
 ('Roger Norrington, London Classical Players', 1),
 ('Royal Philharmonic Orchestra & Sir Thomas Beecham', 1),
 ('Rush', 1),
 ('Santana', 3),
 ('Scholars Baroque Ensemble', 1),
 ('Scorpions', 1),
 ('Sergei Prokofiev & Yuri Temirkanov', 1),
 ('Sir Georg Solti & Wiener Philharmoniker', 1),
 ('Sir Georg Solti, Sumi Jo & Wiener Philharmoniker', 1),
 ('Skank', 2),
 ('Smashing Pumpkins', 2),
 ('Soundgarden', 1),
 ('Spyro Gyra', 2),
 ('Stevie Ray Vaughan & Double Trouble', 1),
 ('Stone Temple Pilots', 1),
 ('System Of A Down', 1),
 ('Temple of the Dog', 1),
 ('Terry Bozzio, Tony Levin & Steve Stevens', 1),
 ('The 12 Cellists of The Berlin Philharmonic', 1),
 ('The Black Crowes', 2),
 ('The Clash', 1),
 ('The Cult', 2),
 ('The Doors', 1),
 ("The King's Singers", 1),
 ('The Office', 3),
 ('The Police', 1),
 ('The Posies', 1),
 ('The Rolling Stones', 3),
 ('The Tea Party', 2),
 ('The Who', 1),
 ('Tim Maia', 2),
 ('Titãs', 2),
 ('Ton Koopman', 1),
 ('Toquinho & Vinícius', 1),
 ('U2', 10),
 ('UB40', 1),
 ('Van Halen', 4),
 ('Various Artists', 4),
 ('Velvet Revolver', 1),
 ('Vinícius De Moraes', 1),
 ('Wilhelm Kempff', 1),
 ('Yehudi Menuhin', 1),
 ('Yo-Yo Ma', 1),
 ('Zeca Pagodinho', 1)]

3. List all tracks in a specific album.

In [ ]:
execute_query(conn, """
SELECT Track.Name
FROM Track
JOIN Album ON Track.AlbumId = Album.AlbumId
WHERE Album.Title = 'For Those About To Rock We Salute You';
""")

[('For Those About To Rock (We Salute You)',),
 ('Put The Finger On You',),
 ("Let's Get It Up",),
 ('Inject The Venom',),
 ('Snowballed',),
 ('Evil Walks',),
 ('C.O.D.',),
 ('Breaking The Rules',),
 ('Night Of The Long Knives',),
 ('Spellbound',)]

4. Find the total sales per customer.

In [ ]:
execute_query(conn, """
SELECT Customer.FirstName, Customer.LastName, SUM(Invoice.Total) AS TotalSpent
FROM Customer
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
GROUP BY Customer.CustomerId;
""")

[('Luís', 'Gonçalves', 39.62),
 ('Leonie', 'Köhler', 37.620000000000005),
 ('François', 'Tremblay', 39.62),
 ('Bjørn', 'Hansen', 39.62),
 ('František', 'Wichterlová', 40.620000000000005),
 ('Helena', 'Holý', 49.620000000000005),
 ('Astrid', 'Gruber', 42.62),
 ('Daan', 'Peeters', 37.62),
 ('Kara', 'Nielsen', 37.620000000000005),
 ('Eduardo', 'Martins', 37.620000000000005),
 ('Alexandre', 'Rocha', 37.620000000000005),
 ('Roberto', 'Almeida', 37.62),
 ('Fernanda', 'Ramos', 37.620000000000005),
 ('Mark', 'Philips', 37.620000000000005),
 ('Jennifer', 'Peterson', 38.620000000000005),
 ('Frank', 'Harris', 37.62),
 ('Jack', 'Smith', 39.620000000000005),
 ('Michelle', 'Brooks', 37.620000000000005),
 ('Tim', 'Goyer', 38.620000000000005),
 ('Dan', 'Miller', 39.62),
 ('Kathy', 'Chase', 37.62),
 ('Heather', 'Leacock', 39.62),
 ('John', 'Gordon', 37.62),
 ('Frank', 'Ralston', 43.62),
 ('Victor', 'Stevens', 42.62),
 ('Richard', 'Cunningham', 47.620000000000005),
 ('Patrick', 'Gray', 37.620000000000005),
 ('Julia', 'Barnett', 43.620000000000005),
 ('Robert', 'Brown', 37.62),
 ('Edward', 'Francis', 37.620000000000005),
 ('Martha', 'Silk', 37.620000000000005),
 ('Aaron', 'Mitchell', 37.620000000000005),
 ('Ellie', 'Sullivan', 37.62),
 ('João', 'Fernandes', 39.620000000000005),
 ('Madalena', 'Sampaio', 37.620000000000005),
 ('Hannah', 'Schneider', 37.620000000000005),
 ('Fynn', 'Zimmermann', 43.62),
 ('Niklas', 'Schröder', 37.620000000000005),
 ('Camille', 'Bernard', 38.620000000000005),
 ('Dominique', 'Lefebvre', 38.620000000000005),
 ('Marc', 'Dubois', 37.620000000000005),
 ('Wyatt', 'Girard', 39.62),
 ('Isabelle', 'Mercier', 40.620000000000005),
 ('Terhi', 'Hämäläinen', 41.620000000000005),
 ('Ladislav', 'Kovács', 45.62),
 ('Hugh', "O'Reilly", 45.62),
 ('Lucas', 'Mancini', 37.620000000000005),
 ('Johannes', 'Van der Berg', 40.62),
 ('Stanisław', 'Wójcik', 37.620000000000005),
 ('Enrique', 'Muñoz', 37.62),
 ('Joakim', 'Johansson', 38.620000000000005),
 ('Emma', 'Jones', 37.620000000000005),
 ('Phil', 'Hughes', 37.620000000000005),
 ('Steve', 'Murray', 37.62),
 ('Mark', 'Taylor', 37.620000000000005),
 ('Diego', 'Gutiérrez', 37.620000000000005),
 ('Luis', 'Rojas', 46.62),
 ('Manoj', 'Pareek', 38.620000000000005),
 ('Puja', 'Srivastava', 36.64)]

5. Find the customer who has spent the most money.

In [ ]:
execute_query(conn, """
SELECT Customer.FirstName, Customer.LastName, SUM(Invoice.Total) AS TotalSpent
FROM Customer
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
GROUP BY Customer.CustomerId
ORDER BY TotalSpent DESC
LIMIT 1;
""")

[('Helena', 'Holý', 49.620000000000005)]

6. Find the best-selling track.

In [ ]:
execute_query(conn, """
SELECT Track.Name, SUM(InvoiceLine.UnitPrice) AS TotalSaleValue
FROM Track
JOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId
GROUP BY Track.TrackId
ORDER BY TotalSaleValue DESC
LIMIT 8;
""")

[('The Woman King', 3.98),
 ('The Fix', 3.98),
 ('Walkabout', 3.98),
 ('Hot Girl', 3.98),
 ('Gay Witch Hunt', 3.98),
 ("Phyllis's Wedding", 3.98),
 ('How to Stop an Exploding Man', 3.98),
 ('Pilot', 3.98)]

7. Find the most popular genre based on the number of tracks.

In [ ]:
execute_query(conn, """
SELECT Genre.Name, COUNT(Track.TrackId) AS TotalTracks
FROM Genre
JOIN Track ON Genre.GenreId = Track.GenreId
GROUP BY Genre.GenreId
ORDER BY TotalTracks DESC
LIMIT 1;
""")

[('Rock', 1297)]

8. Calculate the total revenue generated by each track.

In [ ]:
execute_query(conn, """
SELECT Track.Name, SUM(InvoiceLine.UnitPrice * InvoiceLine.Quantity) AS TotalRevenue
FROM Track
JOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId
GROUP BY Track.TrackId;
ORDER BY TotalRevenue DESC;
""")

You can only execute one statement at a time.

[]

9. List the employees who are also sales agents.

In [ ]:
execute_query(conn, """
SELECT Employee.FirstName, Employee.LastName
FROM Employee
WHERE Employee.Title LIKE 'Sales Support%';
""")

[('Jane', 'Peacock'), ('Margaret', 'Park'), ('Steve', 'Johnson')]

10. Find the total number of sales by each sales agent.

In [ ]:
execute_query(conn, """
SELECT Employee.FirstName, Employee.LastName, COUNT(Invoice.InvoiceId) AS TotalSales
FROM Employee
JOIN Customer ON Employee.EmployeeId = Customer.SupportRepId
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
GROUP BY Employee.EmployeeId;
""")

[('Jane', 'Peacock', 146),
 ('Margaret', 'Park', 140),
 ('Steve', 'Johnson', 126)]

ADV_1. Find the Top 5 Customers with the Highest Number of Different Tracks Purchased.

In [ ]:
execute_query(conn, """
SELECT Customer.FirstName, Customer.LastName, COUNT(DISTINCT InvoiceLine.TrackId) AS DistinctTracks
FROM Customer
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
JOIN InvoiceLine ON Invoice.InvoiceId = InvoiceLine.InvoiceId
GROUP BY Customer.CustomerId
ORDER BY DistinctTracks DESC
LIMIT 5;
""")

[('Manoj', 'Pareek', 38),
 ('Luis', 'Rojas', 38),
 ('Diego', 'Gutiérrez', 38),
 ('Mark', 'Taylor', 38),
 ('Steve', 'Murray', 38)]

ADV_2.
Identifying the Most Popular Genre in Each Country Based on Sales.

In [ ]:
execute_query(conn, """
SELECT Country, Genre.Name, COUNT(InvoiceLine.TrackId) AS TotalSales
FROM Customer
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
JOIN InvoiceLine ON Invoice.InvoiceId = InvoiceLine.InvoiceId
JOIN Track ON InvoiceLine.TrackId = Track.TrackId
JOIN Genre ON Track.GenreId = Genre.GenreId
GROUP BY Customer.Country, Genre.GenreId
ORDER BY Country, TotalSales DESC;
""")

[('Argentina', 'Alternative & Punk', 9),
 ('Argentina', 'Rock', 9),
 ('Argentina', 'Latin', 8),
 ('Argentina', 'Metal', 7),
 ('Argentina', 'Easy Listening', 2),
 ('Argentina', 'Jazz', 2),
 ('Argentina', 'Soundtrack', 1),
 ('Australia', 'Rock', 22),
 ('Australia', 'Metal', 8),
 ('Australia', 'Heavy Metal', 3),
 ('Australia', 'Reggae', 2),
 ('Australia', 'Latin', 2),
 ('Australia', 'Blues', 1),
 ('Austria', 'Rock', 15),
 ('Austria', 'Metal', 7),
 ('Austria', 'TV Shows', 4),
 ('Austria', 'R&B/Soul', 4),
 ('Austria', 'Classical', 2),
 ('Austria', 'Latin', 2),
 ('Austria', 'Jazz', 2),
 ('Austria', 'Drama', 1),
 ('Austria', 'Pop', 1),
 ('Belgium', 'Rock', 21),
 ('Belgium', 'Alternative & Punk', 14),
 ('Belgium', 'R&B/Soul', 2),
 ('Belgium', 'Metal', 1),
 ('Brazil', 'Rock', 81),
 ('Brazil', 'Latin', 53),
 ('Brazil', 'Metal', 15),
 ('Brazil', 'Alternative & Punk', 7),
 ('Brazil', 'Classical', 6),
 ('Brazil', 'Reggae', 6),
 ('Brazil', 'Blues', 6),
 ('Brazil', 'Soundtrack', 4),
 ('Brazil', 'R&B/Soul', 3),
 ('Brazil', 'Pop', 3),
 ('Brazil', 'Sci Fi & Fantasy', 2),
 ('Brazil', 'Hip Hop/Rap', 2),
 ('Brazil', 'World', 2),
 ('Canada', 'Rock', 107),
 ('Canada', 'Latin', 60),
 ('Canada', 'Metal', 40),
 ('Canada', 'Alternative & Punk', 36),
 ('Canada', 'Jazz', 13),
 ('Canada', 'Bossa Nova', 7),
 ('Canada', 'Reggae', 7),
 ('Canada', 'World', 6),
 ('Canada', 'Classical', 5),
 ('Canada', 'Hip Hop/Rap', 5),
 ('Canada', 'R&B/Soul', 5),
 ('Canada', 'Electronica/Dance', 4),
 ('Canada', 'Blues', 4),
 ('Canada', 'Drama', 2),
 ('Canada', 'Rock And Roll', 2),
 ('Canada', 'TV Shows', 1),
 ('Chile', 'Rock', 9),
 ('Chile', 'Latin', 8),
 ('Chile', 'Drama', 4),
 ('Chile', 'Easy Listening', 3),
 ('Chile', 'Metal', 3),
 ('Chile', 'TV Shows', 2),
 ('Chile', 'Science Fiction', 2),
 ('Chile', 'Blues', 2),
 ('Chile', 'Alternative & Punk', 2),
 ('Chile', 'Classical', 1),
 ('Chile', 'Sci Fi & Fantasy', 1),
 ('Chile', 'Soundtrack', 1),
 ('Czech Republic', 'Rock', 25),
 ('Czech Republic', 'Latin', 9),
 ('Czech Republic', 'Alternative & Punk', 9),
 ('Czech Republic', 'TV Shows', 8),
 ('Czech Republic', 'Drama', 6),
 ('Czech Republic', 'Metal', 6),
 ('Czech Republic', 'Pop', 4),
 ('Czech Republic', 'Jazz', 3),
 ('Czech Republic', 'Electronica/Dance', 2),
 ('Czech Republic', 'R&B/Soul', 2),
 ('Czech Republic', 'Science Fiction', 1),
 ('Czech Republic', 'Blues', 1),
 ('Denmark', 'Rock', 21),
 ('Denmark', 'Metal', 6),
 ('Denmark', 'Latin', 4),
 ('Denmark', 'Alternative & Punk', 4),
 ('Denmark', 'Pop', 3),
 ('Finland', 'Rock', 18),
 ('Finland', 'Latin', 9),
 ('Finland', 'Sci Fi & Fantasy', 4),
 ('Finland', 'Alternative & Punk', 2),
 ('Finland', 'Metal', 2),
 ('Finland', 'Jazz', 2),
 ('Finland', 'Reggae', 1),
 ('France', 'Rock', 65),
 ('France', 'Alternative & Punk', 31),
 ('France', 'Latin', 26),
 ('France', 'Metal', 20),
 ('France', 'Jazz', 11),
 ('France', 'Classical', 10),
 ('France', 'Soundtrack', 5),
 ('France', 'Alternative', 4),
 ('France', 'Drama', 4),
 ('France', 'Sci Fi & Fantasy', 2),
 ('France', 'Hip Hop/Rap', 2),
 ('France', 'Electronica/Dance', 2),
 ('France', 'Pop', 2),
 ('France', 'Blues', 2),
 ('France', 'TV Shows', 1),
 ('France', 'Bossa Nova', 1),
 ('France', 'Reggae', 1),
 ('France', 'Rock And Roll', 1),
 ('Germany', 'Rock', 62),
 ('Germany', 'Metal', 25),
 ('Germany', 'Latin', 18),
 ('Germany', 'Blues', 14),
 ('Germany', 'Alternative & Punk', 13),
 ('Germany', 'Soundtrack', 5),
 ('Germany', 'TV Shows', 3),
 ('Germany', 'Heavy Metal', 3),
 ('Germany', 'Science Fiction', 2),
 ('Germany', 'Easy Listening', 2),
 ('Germany', 'Jazz', 2),
 ('Germany', 'Alternative', 1),
 ('Germany', 'Drama', 1),
 ('Germany', 'Pop', 1),
 ('Hungary', 'Rock', 11),
 ('Hungary', 'R&B/Soul', 5),
 ('Hungary', 'Metal', 5),
 ('Hungary', 'TV Shows', 4),
 ('Hungary', 'Latin', 3),
 ('Hungary', 'Alternative & Punk', 3),
 ('Hungary', 'Drama', 2),
 ('Hungary', 'Blues', 2),
 ('Hungary', 'Comedy', 1),
 ('Hungary', 'Sci Fi & Fantasy', 1),
 ('Hungary', 'Electronica/Dance', 1),
 ('India', 'Rock', 25),
 ('India', 'Alternative & Punk', 11),
 ('India', 'Jazz', 10),
 ('India', 'Latin', 9),
 ('India', 'Metal', 8),
 ('India', 'R&B/Soul', 4),
 ('India', 'Blues', 3),
 ('India', 'Classical', 2),
 ('India', 'Sci Fi & Fantasy', 1),
 ('India', 'TV Shows', 1),
 ('Ireland', 'Rock', 12),
 ('Ireland', 'TV Shows', 7),
 ('Ireland', 'Latin', 7),
 ('Ireland', 'Alternative & Punk', 4),
 ('Ireland', 'Metal', 3),
 ('Ireland', 'Jazz', 3),
 ('Ireland', 'Drama', 1),
 ('Ireland', 'Blues', 1),
 ('Italy', 'Rock', 18),
 ('Italy', 'Alternative & Punk', 11),
 ('Italy', 'Blues', 4),
 ('Italy', 'Classical', 2),
 ('Italy', 'Latin', 2),
 ('Italy', 'Metal', 1),
 ('Netherlands', 'Rock', 18),
 ('Netherlands', 'Alternative & Punk', 5),
 ('Netherlands', 'Blues', 4),
 ('Netherlands', 'Sci Fi & Fantasy', 3),
 ('Netherlands', 'Pop', 3),
 ('Netherlands', 'Latin', 3),
 ('Netherlands', 'Metal', 2),
 ('Norway', 'Rock', 17),
 ('Norway', 'Classical', 5),
 ('Norway', 'Latin', 5),
 ('Norway', 'Alternative', 4),
 ('Norway', 'Drama', 2),
 ('Norway', 'Electronica/Dance', 2),
 ('Norway', 'Alternative & Punk', 2),
 ('Norway', 'World', 1),
 ('Poland', 'Rock', 22),
 ('Poland', 'Latin', 7),
 ('Poland', 'Alternative & Punk', 7),
 ('Poland', 'Blues', 1),
 ('Poland', 'Jazz', 1),
 ('Portugal', 'Rock', 31),
 ('Portugal', 'Latin', 13),
 ('Portugal', 'Metal', 11),
 ('Portugal', 'Alternative & Punk', 5),
 ('Portugal', 'Pop', 4),
 ('Portugal', 'World', 2),
 ('Portugal', 'R&B/Soul', 2),
 ('Portugal', 'Heavy Metal', 2),
 ('Portugal', 'Jazz', 2),
 ('Portugal', 'Sci Fi & Fantasy', 1),
 ('Portugal', 'TV Shows', 1),
 ('Portugal', 'Electronica/Dance', 1),
 ('Portugal', 'Blues', 1),
 ('Spain', 'Rock', 22),
 ('Spain', 'Latin', 4),
 ('Spain', 'Alternative & Punk', 4),
 ('Spain', 'Metal', 3),
 ('Spain', 'Reggae', 2),
 ('Spain', 'Jazz', 2),
 ('Spain', 'Hip Hop/Rap', 1),
 ('Sweden', 'Latin', 12),
 ('Sweden', 'Rock', 10),
 ('Sweden', 'Metal', 7),
 ('Sweden', 'Alternative & Punk', 6),
 ('Sweden', 'TV Shows', 1),
 ('Sweden', 'World', 1),
 ('Sweden', 'Jazz', 1),
 ('USA', 'Rock', 157),
 ('USA', 'Latin', 91),
 ('USA', 'Metal', 64),
 ('USA', 'Alternative & Punk', 50),
 ('USA', 'Jazz', 22),
 ('USA', 'Blues', 15),
 ('USA', 'TV Shows', 14),
 ('USA', 'R&B/Soul', 12),
 ('USA', 'Classical', 8),
 ('USA', 'Comedy', 8),
 ('USA', 'Bossa Nova', 7),
 ('USA', 'Drama', 6),
 ('USA', 'Reggae', 6),
 ('USA', 'Alternative', 5),
 ('USA', 'Sci Fi & Fantasy', 5),
 ('USA', 'Pop', 5),
 ('USA', 'Hip Hop/Rap', 4),
 ('USA', 'Heavy Metal', 4),
 ('USA', 'Soundtrack', 4),
 ('USA', 'Easy Listening', 3),
 ('USA', 'Rock And Roll', 3),
 ('USA', 'Science Fiction', 1),
 ('United Kingdom', 'Rock', 37),
 ('United Kingdom', 'Latin', 31),
 ('United Kingdom', 'Metal', 20),
 ('United Kingdom', 'Alternative & Punk', 9),
 ('United Kingdom', 'Reggae', 5),
 ('United Kingdom', 'Jazz', 4),
 ('United Kingdom', 'Hip Hop/Rap', 3),
 ('United Kingdom', 'R&B/Soul', 2),
 ('United Kingdom', 'Pop', 2),
 ('United Kingdom', 'World', 1)]